// *imports
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/// fonts
$sansserif-stack: ('Verdana', 'Open Sans', 'Helvetica', 'Arial', sans-serif);
$serif-stack: ('Times New Roman', 'Georgia', serif);
$font-roboto: ('Roboto', $sansserif-stack);

// *color names

// *colors

// *variables
