@charset 'utf-8';



// --------------------
/* #SETTINGS */
// --------------------

// imports
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

// fonts
$sansserif-stack: ('Verdana', 'Open Sans', 'Helvetica', 'Arial', sans-serif);
$serif-stack: ('Times New Roman', 'Georgia', serif);
$font-x: $sansserif-stack;

// color names

// colors

// variables



// --------------------
/* *#TOOLS */
// --------------------

// *functions

/// Função para atalho para as pasta de 'dist'.
/// @param {string} $folder - caminho para as pastas dentro de 'dist'.
/// @param {string} $path - caminho para os itens da pasta escolhida pela variável $folder.
/// @return {string} a função returnará a url('/dist/$folder/$path').
@function dist($folder, $path) {
    @return url('/dist/' + $folder + '/' + $path);
}

/// Função 'img()' para atalho dos itens da pasta 'images'.
/// @param {string} $path - caminho para os itens da pasta 'images'.
/// @return {string} a função returnará a url('/dist/images/$path').
@function img($path) {
    @return dist('images', $path);
}

/// Função 'icon()' para atalho dos itens da pasta 'icons'.
/// @param {string} $path - caminho para os itens da pasta 'icons'.
/// @return {string} a função returnará a url('/dist/icons/$path').
@function icon($path) {
    @return dist('icons', $path);
}

/// Função 'font()' para atalho dos itens da pasta 'fonts'.
/// @param {string} $path - caminho para os itens da pasta 'fonts'.
/// @return {string} a função returnará a url('/dist/fonts/$path').
@function font($path) {
    @return dist('fonts', $path);
}

/// Função 'lighter()'
/// @param {color} $color - a cor que será deixada mais clara.
/// @param {number} $percent [80%] - a porcentagem de 100% até 0%, quanto menor mais claro.
/// @return {color} returna uma cor mais clara.
@function lighter($color, $percent: 80) {
    @return mix($color, #fff, $percent);
}

/// Função 'darker()'
/// @param {color} $color - a cor que será deixada mais escura.
/// @param {number} $percent [80%] - a porcentagem de 100% até 0%, quanto menor mais escuro.
/// @return {color} returna uma cor mais escura.
@function darker($color, $percent: 80) {
    @return mix($color, #000, $percent);
}


// *mixins

@mixin flex-center {
  display        : flex;
  justify-content: center;
  align-items    : center;
}



// --------------------
/* #BASE */
// --------------------

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width : 100%;
    height: 100vh;
}



// --------------------
/* #TYPOGRAPHY */
// --------------------

html {
    font: normal 16px / 1.5 $sansserif-stack;
}



// --------------------
/* #LAYOUT */
// --------------------

// *grid



// --------------------
/* #COMPONENTS */
// --------------------



// --------------------
/* #THEME */
// --------------------



// --------------------
/* #UTILITIES */
// --------------------

// Esconde o elemento sem deixar espaço do elemento no local
.is-hidden {
    display: none !important;
}

// Mostra o elemento como um bloco
.is-visible-block {
    display: block !important;
}

// Coloca o texto do centro
.text-center {
    text-align: center !important;
}

// Coloca o texto à direita
.text-right {
    text-align: right !important;
}

// Coloca o texto à esquerda
.text-left {
    text-align: left !important;
}

// Justifica o texto
.text-justify {
    text-align: justify !important;
}


